// cardMain: {
//     maxWidth: 600,
//     margin: 'auto',
//     textAlign: 'center',
//     marginTop: theme.spacing(15),
//     paddingBottom: theme.spacing(2)
//   },
//   CardHeader: {
//     paddingTop: '32px',
// },
//     CardHeading: {
//         fontSize: '24px',
//         fontWeight: 'bold',
//         textAlign: 'center',
//         cursor: 'pointer'
//     },
//     title: {
//       padding: '4px 0 11px 133px',
//       marginRight: '96px',
//       marginBottom: '13px'
//     },
//   card: {
//     maxWidth: 430,
//     margin: 'auto',
//     textAlign: 'center',
//     marginTop: theme.spacing(15),
//     paddingBottom: theme.spacing(2),
//     paddingRight: '32px',
//     paddingLeft: '32px'
    
//   },
//   error: {
//     verticalAlign: 'middle'
//   },
//   textField: {
//     marginLeft: theme.spacing(1),
//     marginRight: theme.spacing(1),
//     width: 300
//   },
//   submit: {
//     width: '13%',
//     marginRight: '66px',
//     margin: 'auto',
//     marginBottom: theme.spacing(2),
//     backgroundColor: '#BA265D',
//     "&:hover": {
//         backgroundColor: '#ca5376'
//     }  
//   },
//   cardFieldset: {
//     position: 'relative',
//     padding:' 0',
//     margin:' 0',
//     border:' 0',
  
//     '& + &' :{
//       marginTop: '24px'
//     },
  
//    " &:nth-last-of-type(2)": {
//       marginTop: '20px'
//     },
  
//     "&:last-of-type" :{
//       textAlign: 'center'
//     }
//   },
//   CardOptionsNote: {
//     paddingTop:' 8px',
//     display: 'block',
//     width: '100%',
//     fontSize: '12px',
//     textAlign: 'center',
//     textTransform: 'uppercase'
//   },
//   CardOptions: {
//     padding:' 0',
//     margin:' 16px 0 8px',
//     display: 'flex',
//     flexDirection: 'row',
//     flexWrap: 'wrap',
//     alignItems: 'center',
//     justifyContent: 'center',
//     width: '100%',
//     listStyleType: 'none'
//   },
//   CardOptionsItem: {
//       height: '20px',
//       width: '20px',
//     "&:nth-of-type(n+2) " :{
//         marginLeft: "16px"
//       }
//   },

.Img {
    height: 20px;
    width: 20px;
}

.CardOptionsNote {
        padding-top:  8px;
        display: block;
        width: 100%;
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
}

.CardOptions {
    padding: 0;
    margin: 16px 0 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    list-style-type: none;
}